doctype html
html(lang="ru")
  block head
    head
      meta(charset="utf-8")
      title Landing Page
      meta(content="width=device-width, iitial-scale=1" name="viewport")
      meta(content="ie-edge" http-equiv="x-ua-compatible")
      link(rel="stylesheet" href="css/styles.css")
    body
      block header
        include ../blocks/header
      block content
      block footer
        include ../blocks/footer
      block scripts
        script(src="js/scripts.js")